.board {
  background: #33353a;

  /* Column layout */
  display: flex;
  flex-direction: row;
}

.column {
  height: 100vh;
  padding: 16px;
  flex: 1 1 0;

  /* Card layout */
  display: flex;
  flex-direction: column;
}

.column-header {
  background-color: #222222;
  padding: 24px;

  border-radius: 16px;
  box-shadow: 0px 0px 20px #272727;

  /* Text settings */
  font-size: x-large;
  color: lightgray;
  text-align: center;
  white-space: nowrap;
}

.card {
  background-color: #222222;
  margin-top: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #272727;
  transition: transform 1s ease-in-out;
}

.card-header {
  margin: 0;
  color: white;
  font-size: large;
  
  border-radius: 8px 8px 0 0;
  text-align: center;
  padding: 4px;
}

.card-body {
  font-size: small;
  color: lightgray;

  margin: 0px;
  padding: 16px;
}