body {
  overflow: hidden;
  background: url('../public/images/mountains.jpg');
  padding: 0;
  margin: 0;
  height: 100dvh;
}

.app {
  height: 100dvh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.board {
  overflow: scroll;
  padding: 8px;

  /* Force board to fill height of screen */
  flex: 1 1 auto;

  /* Column layout */
  display: flex;
  flex-direction: row;
  align-items: start;
}

.board-name {
  color: white;
  font-size: larger;
  margin: 0;
  margin-left: 16px;
}

.board-header {
  width: 100%;
  background:linear-gradient(180deg, #223563, rgb(39, 49, 72));
  padding: 16px;
}

.button-primary {
  background-color: #0279C0;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #00000044;
  color: white;
  cursor: pointer;
  height: 32px;
  padding: 8px;
  margin-right: 4px;
  transition: background-color 0.2s ease-in-out;
}

.button-primary:hover {
  background-color: #036aa7;
}

.button-cancel {
  background-color: lightgray;
  border: none;
  border-radius: 3px;
  box-shadow: 0px 1px 1px #00000044;
  color: rgb(33, 33, 33);
  cursor: pointer;
  height: 32px;
  margin-right: 4px;
  padding: 8px;
  transition: background-color 0.2s ease-in-out;
}

.button-cancel:hover {
  background-color: rgb(194, 194, 194);
}

.button-icon {
  background: none;
  border: none;
  cursor: pointer;
  margin-bottom: 6px;
  transition: filter 0.2s ease;
}

.button-icon:hover {
  filter: brightness(0.8);
}

.card {
  background-color: #00000050;
  border-radius: 8px;
  box-shadow: 0px 2px 3px #000000A0;
  color: rgb(238, 238, 238);
  cursor: pointer;
  font-size: medium;
  font-weight: 500px;
  margin-bottom: 8px;
  padding: 12px;
  transition: background-color 0.3s ease;
}

.card-placeholder {
  background-color: #000000c8;
  border-radius: 8px;
  box-shadow: 0px 2px 3px #000000A0;
  height: 40px;
  margin-bottom: 8px;
}

.card.editing {
  cursor: auto;
}

.card:hover {
  background-color: #3a3a3a50;
}

.card textarea {
  border: solid 1px #d3d3d3;
  box-sizing: border-box;
  display: block;
  height: 32px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
  margin-bottom: 8px;
  padding: 8px;
  resize: none;
  width: 100%;
}

.icon {
  width: 20px;
  height: 20px;
}

.list {
  background-color: #79797960;
  border-radius: 16px;
  box-shadow: 0px 2px 2px #00000070;
  width: 272px;
  margin: 4px;
  padding: 12px;

  /* Card layout */
  display: flex;
  flex: none;
  flex-basis: 272px;
  flex-direction: column;
}

.list-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-title {
  color: #ffffff;
  font-size: medium;
  font-weight: 600;
  margin-top: 8px;
  margin-left: 12px;
  margin-bottom: 16px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#add-list-wrapper {
  padding: 16px;
  margin: 4px;
  width: 272px;

  background-color: #5e88bd;
  border-radius: 16px;
  box-shadow: 0px 2px 5px #00000044;
  color: rgba(255, 255, 255, 0.884);
  cursor: pointer;

  display: flex;
  flex: none;
  align-items: center;
  justify-content: start;
}

#add-list-wrapper.editing {
  background-color: #EFECF0;
  height: 78px;
  padding: 16px;
  display: block;
}

#add-list-wrapper.editing input {
  display: block;
  height: 32px;
  padding-left: 4px;
  font-weight: 300;
  margin-bottom: 8px;
  width: 260px;
}

#add-card-button {
  background: none;
  border: none;
  color: rgb(29, 29, 29);
  text-align: left;
  font-size: medium;
  margin-left: 4px;
  margin-top: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  transition: color 0.2s ease;
}

#add-card-button:hover {
  color: rgb(235, 235, 235);
}